.accordion-item {
    max-width: 100%;
}

.accordion-button {
    max-width: 100%;
    text-align: center;
}

.d-grid {
    display: grid;
    justify-items: center;
}

.accordion {
    max-width: 100%;
}
